* {
	margin: 0;
	padding: 0;
}

#hidden{
	position: absolute;
  opacity: 0;
  transition: 0.1s;
  left: 7.5%;
  top: 600%;
  height: 1%;
  width: 85%;
  border-radius: 5%;
  border:5px solid rgb(43,53,57);
	z-index: 47;
}
#barcelona{
	position: absolute;
  opacity: 0.7;
  transition: 0.1s;
  left: 7.5%;
  top: 5%;
  height: 85%;
  width: 85%;
  border-radius: 5%;
  border:5px solid rgb(43,53,57);
	z-index: 47;
}

#barcelona:hover {
    position: absolute;
    opacity: 1;
    transition: 0.1s;
    left: 3%;
		top: 3%;
    height: 94%;
    width: 94%;
		z-index: 100;
}


#darkbasepro900{
	position: absolute;
	opacity: 0.7;
	transition: 0.1s;
	left: 7.5%;
	top: 105%;
	height: 85%;
	width: 85%;
	border-radius: 5%;
	border:5px solid rgb(43,53,57);
	z-index: 47;
}



#darkbasepro900:hover {
	position: absolute;
	opacity: 1;
	transition: 0.1s;
	left: 3%;
	top: 103%;
	height: 94%;
	width: 94%;
	z-index: 100;
}

#steep{
	position: absolute;
	opacity: 0.7;
	transition: 0.1s;
	left: 7.5%;
	top: 205%;
	height: 85%;
	width: 85%;
	border-radius: 5%;
	border:5px solid rgb(43,53,57);
	z-index: 47;
}



#steep:hover {
	position: absolute;
	opacity: 1;
	transition: 0.1s;
	left: 3%;
	top: 203%;
	height: 94%;
	width: 94%;
	z-index: 100;
}

#dragracing{
	position: absolute;
	opacity: 0.7;
	transition: 0.1s;
	left: 7.5%;
	top: 305%;
	height: 85%;
	width: 85%;
	border-radius: 5%;
	border:5px solid rgb(43,53,57);
	z-index: 47;
}



#dragracing:hover {
	position: absolute;
	opacity: 1;
	transition: 0.1s;
	left: 3%;
	top: 303%;
	height: 94%;
	width: 94%;
	z-index: 100;
}

#darkside{
	position: absolute;
	opacity: 0.7;
	transition: 0.1s;
	left: 7.5%;
	top: 405%;
	height: 85%;
	width: 85%;
	border-radius: 5%;
	border:5px solid rgb(43,53,57);
	z-index: 47;
}

#darkside:hover {
	position: absolute;
	opacity: 1;
	transition: 0.1s;
	left: 3%;
	top: 403%;
	height: 94%;
	width: 94%;
	z-index: 100;
}
#html{
	position: absolute;
	opacity: 0.7;
	transition: 0.1s;
	left: 7.5%;
	top: 505%;
	height: 85%;
	width: 85%;
	border-radius: 5%;
	border:5px solid rgb(43,53,57);
	z-index: 47;
}


#html:hover {
	position: absolute;
	opacity: 1;
	transition: 0.1s;
	left: 3%;
	top: 503%;
	height: 94%;
	width: 94%;
	z-index: 100;
}

#tony{
	position: absolute;
	opacity: 0.7;
	transition: 0.1s;
	left: 7.5%;
	top: 605%;
	height: 85%;
	width: 85%;
	border-radius: 5%;
	border:5px solid rgb(43,53,57);
	z-index: 47;
}
}



#tony:hover {
	position: absolute;
	opacity: 1;
	transition: 0.1s;
	left: 3%;
	top: 603%;
	height: 94%;
	width: 94%;
	z-index: 100;
}



html, body {
	height: 100%;
	width: 100%;
}

body {
  background-image: url(Photos/RomanAquaduct.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	align-items: center;
  background-color: rgba(0,100,255,0.65);
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
	justify-content: center;
overflow: visible;
}




h1 {
  color: #fff;
  font-family: 'LucidaConsole', monospace;
  font-size: 52px;
  font-weight: 900;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
